@charset "utf-8";
html {
	font-size: calc(100vw/7.5);
}

body {
	margin: 0;
	padding: 0;
	width: 100%;
	font-family: "微软雅黑";
}
a{
	text-decoration: none;
	color: #666;
}
a img{
	border: none;
}
p,dl,div{
	margin: 0;
	padding: 0;
}
.left {
	float: left;
}

.right {
	float: right;
}

.clear:after {
	display: block;
	content: "";
	clear: both;
}


.top,.header{
	height: 0.87rem;
	line-height: 0.87rem;
	background-image: linear-gradient(to bottom, #fff, #f0f0f0);
	border-bottom: 1px solid #ccc;
	font-size: 0.3rem;
}
.top>span.fa,.header>span.fa{
	display: inline-block;
	font-size: 0.4rem;
	line-height: 0.87rem;
	margin-left: 0.3rem;
	cursor: pointer;
}
.top>p.word{
	margin-left: 2.26rem;
}
.top>span.right{
	margin-right: 0.2rem;
	line-height: 0.87rem;
}
.payOver{
	margin-top: 0.7rem;
}
.payOver>dl>dt{
	height: 1.26rem;
	margin-left: 0.92rem;
	
}
.payOver>dl>dt>img{
	height: 1.26rem;
}
.payOver>dl>dd{
	float: left;
	font-size: 0.26rem;
	line-height: 0.45rem;
}
.payOver>dl>dd>span{
	color: #f2271e;
}
.menu{
	margin-top: 0.7rem;
}
.menu .btn{
	width: 5.34rem;
	height: 0.7rem;
	background-color: #fff;
	font-size: 0.26rem;
	border: solid 1px #474646;
	border-radius: 0.1rem;
	margin-left: 1.05rem;
}
.menu .btn1{
	margin-top: 0.2rem;
	border-color: #f01010;
	color: #fff;
	background-color: #f23030;
}
p.warn{
	margin-top: 0.54rem;
	font-size: 0.24rem;
	color: #87818c;
	padding: 0 0.52rem;
	line-height: 0.32rem;
}
.image{
	margin-top: 0.24rem;
	width: 7.5rem;
	height: 2.15rem;
	background-color: #f0f2f5;
	border-top: solid 1px #e1e1e0;
}
.image>a>img{
	width: 7.5rem;
	height: 2rem;
	margin-top: 0.15rem;
}
/*pay end*/

/*shoppingCart  start*/
.header>p{
	margin-left: 2.73rem;
}
.header>span.right{
	margin-right: 0.2rem;
	line-height: 0.87rem;
}
.safe{
	height: 0.68rem;
	line-height: 0.68rem;
	background-color: #fff;
	text-align: center;
	font-size: 0.24rem;
	color: #4e5255;
}
.safe>img{
	margin-right: 0.14rem;
	vertical-align: middle;
}
.shopping{
	width: 7.26rem;
	background-color: #fff;
	margin-left: 0.12rem;
	margin-top: 0.2rem;
	font-size: 0.26rem;
	color: #4e5255;
	border-bottom: solid 1px #d9dce2;
}
.shopping .shop{
	padding-top: 0.3rem;
}
.shopping .shop>img{
	width: 0.32rem;
	margin-left: 0.2rem;
}
.shopping .shop>span.fa{
	font-size: 0.3rem;
	display: inline-block;
	margin-left: 0.14rem;
}
.shopping>p{
	margin-top: 0.56rem;
	line-height: 0.34rem;
}
.shopping>p>img{
	width: 0.56rem;
	margin-left: 0.12rem;
	margin-right: 0.14rem;
	vertical-align: middle;
}
.shopping>p>span{
	color: #f23b24;
}
.shopping>p>span>i.fa{
	display: inline-block;
	margin-left: 0.14rem;
	margin-right: 0.2rem;
	color: #f23b24;
}
.goods{
	margin-top: 0.22rem;
}
.goods>img{
	margin-left: 0.2rem;
	width: 0.36rem;
	margin-right: 0.24rem;
	margin-top: 0.6rem;
}

.goods>dl>dt>a>img{
	height: 1.75rem;
}
.goods>dl>dd{
	float: left;
	margin-left: 0.12rem;
}
.goods>dl>dd.color{
	font-size: 0.2rem;
	height: 0.7rem;
	line-height: 0.7rem;
	background-color: #F0F2F5;
	border-radius: 0.1rem;
	color: #626067;
	padding-left: 0.12rem;
}
.goods>dl>dd.color>span.fa{
	display: inline-block;
	margin-right: 0.24rem;
	line-height: 0.7rem;
	font-size: 0.16rem;
	margin-left: 1.66rem;
}
dd.price{
	margin-top: 0.6rem;
	color: #ef324a;
	font-size: 0.26rem;
}
dd.price>span{
	margin-left: 1.77rem;
	display: inline-block;
	width: 1.65rem;
	height: 0.46rem;
	line-height: 0.46rem;
	border: solid 1px #e2e2e2;
	text-align: center;
	color: #333;
}
dd.price>span>i{
	display: inline-block;
	margin: 0 0.4rem;
	font-style: normal;
}
p.del{
	text-align: right;
	margin-top: 0.22rem;
	color: #e2e2e2;
	padding-bottom:0.1rem ;
	
}
p.del>a{
	font-size: 0.22rem;
}
.more{
	font-size: 0.24rem;
	margin-top: 0.3rem;
	text-align: center;
	font-size: 0.24rem;
}
.more>img{
	width: 0.28rem;
	margin-right: 0.12rem;
	vertical-align: middle;
}
.other{
	margin-top: 0.34rem;
}
.other>dl{
	width: 3.6rem;
	background-color: #fff;
}
.other>dl>dt>a>img{
	width: 3.5rem;
}
.other>dl>dd{
	font-size: 0.24rem;
	padding: 0 0.12rem;
}
.other>dl>dd.price1{
	margin-top: 0.24rem;
	font-size: 0.26rem;
	color: #f00000;
}
.other>dl>dd.price1>span{
	color: #5c5d64;
	font-size: 0.18rem;
}
.account{
	margin-top: 0.01rem;
	background-color: #fff;
	font-size: 0.24rem;
	height: 0.98rem;
	/*line-height: 0.98rem;*/
	font-weight: bold;
}

.account .all{
	line-height: 0.98rem;
	margin-right: 0.2rem;
}
.account .all>img{
	width: 0.36rem;
	vertical-align: middle;
	margin: 0 0.12rem 0 0.32rem;
}
.account .money>p{
	line-height: 0.36rem;
}
.account .money>p.allmoney{
	margin-top: 0.2rem;
}
.account .money>p.total{
	font-size: 0.18rem;
	font-weight: normal;
}
.num{
	padding: 0 0.32rem;
	line-height: 0.98rem;
	background-color: #f23030;
	color: #fff;
	font-size: 0.3rem;
	font-weight: normal;
	
}
